@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body {
    text-align: center;
}

.accountForm {
    margin-left: 15px;
    margin-right: 15px;
}



.buttonDiv {
    margin: 2%;
}

.edit-input,
.login-input,
.create-input {
    box-shadow: 0px 0px 3px 0px;
    background-color: #fff;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

.edit-div,
.login-div,
.create-div,
.ai-div,
.filesend-div {
    background-color: #e3e6e5;
    padding: 10px;
    border-radius: 20px;
    margin: 10px
}

.img-div {
    justify-content: center;
    padding: 10px;
}

.img-container {
    width: 40%;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-div {
    margin-top: 10px;
}

.footer-div a {
    margin-left: 5px;
    margin-right: 5px;
}


.file_upload {
    margin: 10px
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

.gallery-item {
    flex-basis: 20%;
    text-align: center;
    margin: 10px;
    border: 3px solid #000000; 
    border-radius: 16px; 
    overflow: hidden;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
    padding: 8px;
    background: #f5f5f5;
    margin: 5px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}